
#For deploys, all env vars can be configured in EAS env vars (and then pulled via eas env:pull for local deploys).

EXPO_PUBLIC_SANITY_PROJECT_ID=project_id
EXPO_PUBLIC_SANITY_DATASET=dataset_name
EXPO_PUBLIC_SANITY_STUDIO_URL=studio_url_localhost_or_deployed
EXPO_PUBLIC_BASE_URL=base_url_of_this_app_localhost_or_deployed
