
#For deploys, all env vars can be configured in EAS env vars (and then pulled via eas env:pull for local deploys).

EXPO_PUBLIC_SANITY_PROJECT_ID=project_id
EXPO_PUBLIC_SANITY_DATASET=dataset_name
EXPO_PUBLIC_SANITY_STUDIO_URL=studio_url_localhost_or_deployed
EXPO_PUBLIC_WEB_APP_BASE_URL=base_url_of_the_expo_web_app_localhost_or_deployed

PRIVATE_SANITY_VIEWER_TOKEN=For running locally, add your sanity viewer token from manage.sanity.io (go to project settings then API tab). For deploys, this env var should be configured
in Vercel env vars, AWS parameter store, etc depending on where you deploy any +api routes. Make sure to make it a secret/protected variable type.