
#NOTE: All env vars must be configured in Vercel console for your project!!!!
#For local development using `vercel dev`, Vercel will pull down the Development env from your console into memory 

SANITY_PROJECT_ID=project_id
SANITY_DATASET=dataset_name
SANITY_STUDIO_URL=studio_url_localhost_or_deployed
BASE_URL=base_url_of_this_app_localhost_or_deployed

PRIVATE_SANITY_VIEWER_TOKEN=Add your sanity viewer token from manage.sanity.io (go to project settings then API tab).